.fountain{
	background: url(https://dl.dropboxusercontent.com/u/38490535/web/www/img/fountain01_122.png) no-repeat 11px 9px;
	background-size: 35px;

}

.donate{
	background: url(https://dl.dropboxusercontent.com/u/38490535/web/www/img/donate02_122.png) no-repeat 11px 9px;
	background-size: 35px;

}